<!DOCTYPE html>
<html lang="en">
<head>
    <title>UberLand</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body style="background: linear-gradient(to right, #434343 0%, black 100%);">
    <div class="nav-justified">
        <nav class="navbar navbar-left bg-dark">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="/static/EcoRoutes-logos_white.png" width="80" height="80" alt="Logo">
            </a>
        </nav>
        <nav class="navbar navbar-right bg-dark">
            <a class="navbar-brand" href="{{ url_for('route') }}">
                <h5 class="text-success" style="font-weight: italic;">Routes</h5>
            </a>
            <a class="navbar-brand" href="{{ url_for('carbon') }}">
                <h5 class="text-success" style="font-weight: italic;">Emissions</h5>
            </a>   
        </nav>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1  style="font-family: 'Press Start 2P', cursive;" class="text-success text-center">UberLand's Annual Carbon Footprint</h1>
    <h2 style="font-family: 'Press Start 2P', cursive;" class="text-success text-center">For your vehicle.</h2>
    <br>
    <br>
    <br>
    <div class="text-center">
        <form name="passdata" action="/carbon" method="post">
                <label class="center-block text-success text-center" style="font-size: 30px; font-family: 'Press Start 2P', cursive;">Car Brand</label>
                <input type="text" name="carBrand">
                <br>
                <br>
                <label class="center-block text-success text-center" style="font-size: 30px; font-family: 'Press Start 2P', cursive;">Type:</label>
                <input type="text" name="car_type">
                <br>
                <br>
                <label class="center-block text-success text-center" style="font-size: 30px; font-family: 'Press Start 2P', cursive;">miles_driven</label>
                <input style="width: 300px;"type="text" name="miles">
                <br>
                <br>
                <label class="center-block text-success text-center" style="font-size: 30px; font-family: 'Press Start 2P', cursive;">fuel_per_gallon</label>
                <input type="text" name="fuel">
                <br>
                <br>
                <input type="submit" value="Submit">
                
        </form>
    </div>
        
            
    </div>
    <br>
    <br>
    <br>
    <h1> {{ car_brand }} </h1>
    <h1> {{ car_type }} </h1>
    <h1> {{ miles }} </h1>
    <h1> {{ fuel }} </h1>
</body>
</html>