<!DOCTYPE html>
<html lang="en">
<head>
    <title>UberLand</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body style="background: linear-gradient(to right, #434343 0%, black 100%);">
    <div class="nav-justified">
        <nav class="navbar navbar-left bg-dark">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="/static/EcoRoutes-logos_white.png" width="60" height="60" alt="Logo">
            </a>
        </nav>
        <nav class="navbar navbar-right bg-dark">
            <a class="navbar-brand" href="{{ url_for('info') }}">
                <h5 class="text-success" style="font-weight: italic;">Info</h5>
            </a>
            <a class="navbar-brand" href="{{ url_for('route') }}">
                <h5 class="text-success" style="font-weight: italic;">Uber Route Optimization</h5>
            </a>
            <a class="navbar-brand" href="{{ url_for('carbon') }}">
                <h5 class="text-success" style="font-weight: italic;">Uber Carbon Emissions</h5>
            </a>
            <a class="navbar-brand" href="{{ url_for('electric') }}">
                <h5 class="text-success" style="font-weight: italic;">Uber Biking Routes</h5>
            </a>        
        </nav>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="entrance-animation animate typing-animation">
        <h1 class="text-success text-center" style="font-family: 'Press Start 2P', cursive;">What is EcoRoutes?</h1>
        <hr>
        <h4 class="text-success text-center" style="font-family: 'Press Start 2P', cursive;">An app that assists UberLand Drivers and Civillians with Route Optimization across all modes of transport.</h4>
        <br>
        <h4 class="text-success text-center" style="font-family: 'Press Start 2P', cursive;">We offer <em>2</em> maps</h4>
        <h4 class="text-success text-center" style="font-family: 'Press Start 2P', cursive;">And a <em>Carbon Emissions</em> calculator</h4>
        <hr>
        <h1 class="text-success text-center" style="font-family: 'Press Start 2P', cursive;">How can I use this software?</h1>
        <hr>
        <h4 class="text-success text-center" style="font-family: 'Press Start 2P', cursive;"><a href="{{url_for('route')}}">Driving Routes</a></h4>
        <br>
        <h4 class="text-success text-center" style="font-family: 'Press Start 2P', cursive;"><a href="{{url_for('electric')}}">Biking Routes</a></h4>
        <br>
        <h4 class="text-success text-center" style="font-family: 'Press Start 2P', cursive;"><a href="{{url_for('carbon')}}">Annual Carbon Emissions</a></h4>
        <br>
    </div>