game-font {
    font-family: 'Press Start 2P', cursive;
}

#instructions {
    position: absolute;
    margin: 20px;
    width: 25%;
    top: 0;
    bottom: 20%;
    padding: 20px;
    background-color: #fff;
    overflow-y: scroll;
    font-family: sans-serif;
  }

  .typing-animation {
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
    border-right: 2px solid green;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 4s steps(45, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 50% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: green; }
}
.entrance-animation {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}


.entrance-animation.animate {
    animation: fadeInUp 1s ease forwards, slideInUp 1s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}